EDDY.IS.DeliveryEngine.Test/Service References/RetryLeadDeliveryWorkflowService/RetryLeadDeliveryWorkflowService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EDDY.IS.DeliveryEngine.Workflow.Service/RetryLeadDeliveryWorkflowService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDDY.IS.DeliveryEngine.Entity" />
  <xs:element name="RetryProcessLeads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EDDY.IS.DeliveryEngine.Entity" minOccurs="0" name="RealtimeDeliveryQueueItem" nillable="true" type="q1:RealtimeDeliveryQueueItem" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EDDY.IS.DeliveryEngine.Entity" minOccurs="0" name="LeadData" nillable="true" type="q2:DeliveryLeadData" />
        <xs:element minOccurs="0" name="DeliveryEndpointId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>